/* filepath: c:\Users\Tanishq soni\OneDrive\Desktop\portfolio\myportfolio\src\CSS\Project.css */
.projects-section {
    text-align: left;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
}

.project-card {
    height: 40svh;
    width: 20svw;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 20px;
    margin: 10px 5px;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: all 0.3s ease;
}


.project-card::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2em;
    height: 3px;
    width: 100%;
    box-shadow: 0 2px 10px var(--color-brand);
    background: var(--color-brand);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover::after{
    transform: scaleX(1);
}

.project-card:hover {
    box-shadow: 0px 2px 10px var(--color-brand);
    transform: translateY(-5px);
    background-color: #ead0f3;
    color: var(--color-contrast-text);
}

.project-card h3 {
    margin-top: 0;
    font-family: "lato", monospace;
    font-weight: 500;
    font-style: italic;
    color: var(--color-brand);
    font-size: 1.5rem;
    /* text-shadow: #8e7c94 0 0 5px; */
}

.project-card button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: var(--color-accent);
    border-radius: 50%;
    border: var(--color-accent) solid 2px;
    padding: 10px;
    height: 50px;
    cursor: pointer;
    width: 50px;
}

.project-card button:hover{
    background-color: transparent;
    border: none;
}

.project-card button> svg {
    width: 30px;
    height: 30px;  
    border-radius: 50%;
}

.project-card button:hover svg {
    transform: scale(1.1);
    fill: var(--color-contrast-text);
    box-shadow: 0 2px 10px var(--color-contrast-text);
    transition: transform 0.3s ease;
    
}

@media screen and (max-width: 768px) {
    .projects-section {
        padding: 2rem;
    }
    .project-cards {
        flex-direction: column;
        align-items: center;
    }
    .project-card {
        width: 90%;
        height: auto;
    }
    .project-card h3 {
        font-size: 1.2rem;
    }
    
}